import(MASS)
useDynLib(Matching)
export(balanceMV, balanceUV, ks.boot, Match, Matchby, MatchBalance, qqstats, summary.balanceMV, summary.ks.boot, summary.Match, GenMatch)
S3method(summary, balanceMV)
S3method(summary, balanceUV)
S3method(summary, ks.boot)
S3method(summary, Match)
S3method(summary, Matchby)
